body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    transition: background-color 0.2s; 
}


.contenedor {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    transition: background-color 0.2s; 
}

.botones button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
}

#botonRojo {
    background-color: #cd1212;
}

#botonAzul {
    background-color: #0124c3;
}

#botonVerde {
    background-color: #06d83a;
}


