.card {
    max-width: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    font-family: Arial, sans-serif;
    text-align: left;
}

.img {
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 1px solid #ddd; 
}

.title {
    font-size: 25px;
    margin: 15px 0;
    color: #333;
}

.description {
    font-size: 16px;
    color: #666;
    margin: 10px 20px;
}

.description p {
    margin: 5px 0; /* Ajusta el espacio entre las líneas */
}
