body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eaeaea; 
}

.calculadora {
    width: 250px;
    background-color: #ffffff; 
    padding: 20px; 
    border-radius: 15px; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
    
}

#resultado {
    width: 100%;
    height: 60px; 
    text-align: right;
    margin-bottom: 15px;
    font-size: 20px; 
    border: none;
    background-color: #f0f0f0; 
    padding: 1px; 
    border-radius: 5px; 
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.botones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px; 
}

button {
    width: 100%;
    height: 60px; 
    font-size: 20px; 
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    color:#ffffff;
    transition: background-color 0.3s, transform 0.1s; 
    background-color: #4A90E2; 
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #0f4a85; 
}


